.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 350px;
  padding: 20px;
  background: rgba(18, 18, 18, 0.75);
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 10px;
}

.switch {
  text-align: center;
  margin-top: 10px;
}

.switch a {
  color: #4cafef;
  text-decoration: none;
}
